body {
  background-color: white;
  box-sizing: border-box;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
hr {
  border-color: #15334d;
}

/* Greeting.vue */
.leader-name {
  font-family: "Hiragino Sans","ヒラギノ角ゴシック";
}
.question-title {
  color: #15334d;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.message {
  font-family: "游明朝体","YuMincho";
}