body {
  height: 100%;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif !important;
}

hr {
  border-color: #15334d;
}

/* humbergar */
.menu, .menu span {
  display: inline-block;
}
.menu p {
  margin: -9px 0;
}
.menu::before,
.menu::after,
.menu span {
  width: 17%;
  height: 4px;
  background: #333;
}
.side-recruitment-title {
  font-family: Brandon Grotesque;
  color: #16344F;
}


/* Greeting.vue */
.leader-name {
  font-family: "Hiragino Sans","ヒラギノ角ゴシック";
}
.question-title {
  color: #15334d;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

/* PeoplePage.vue */
.people {
  background-color: #add5d4;
  color: #333333;
  font-family: Noto Sans;
}
.lead {
  font-family: Brandon Grotesque;
  color: #16344F;
}
.sub-lead h2 {
  font-family: 'Noto Serif JP', serif;
}

.people-lead {
  vertical-align: 0.6rem;
  letter-spacing: 0.3rem;
}
.people-kana {
  font-family: Brandon Grotesque;
}
.image-absolute {
  height: 380px;
  position: relative;
}
.white-box, .img-box, .blue-box {
  position: absolute;
}
.white-box{
  width: 550px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
.img-box{
  width: 100%;
  height: 100%;
  left: 15px;
  top: 25px;
  z-index: 10;
}
.blue-box {
  width: 570px;
  height: 100%;
  background-color: #16344F;
  left: 50px;
  top: 50px;
  z-index: 0;
}
.question-vertical {
  letter-spacing: 0.8rem;
  writing-mode: vertical-rl;
}
.question-logo {
  border-left: 1px solid #16344F;
}
.question-logo span {
  letter-spacing: 0.1rem;
}

.answer-title span {
  background-color: #16344F;
}
.column-lead{
  letter-spacing: 0.3rem;
  background-color: #16344F;
}
.column-lead h5 {
  font-family: Brandon Grotesque;
  font-weight: lighter;
}
.column-sublead p {
  font-size: 0.3rem;
  letter-spacing: 0.1rem;
}

.profile-title {
  background-color: #16344F;
}
.profile-title p {
  font-family: Brandon Grotesque;
}
.pagination {
  font-family: Brandon Grotesque;
}

@media (max-width: 1024px) {
  .hero {
    text-align: center;
    padding-right: 8%;
  }
  .img-box{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .white-box{
    width: 80%;
    height: 100%;
  }
  .blue-box {
    width: 80%;
    height: 100%;
  }
}

@media (max-width: 640px) {
  .image-absolute {
    width: 100%;
    height: 100%;
    padding: 5%;
  }
  .white-box{
    width: 85%;
    height: 100%;
  }
  .blue-box {
    width: 85%;
    height: 100%;
  }
}

@media (max-width: 320px) {
  .white-box{
    width: 80%;
    height: 80%;
  }
  .blue-box {
    width: 80%;
    height: 80%;
  }
}